{% extends 'DTAMetadataBundle::base.html.twig' %}

{%block core%}
    <h3>Zugriffsberechtigung fehlt</h3>
    <p>
        Sie verfügen nicht über die benötigten Rechte, um diese Seite aufzurufen.
    </p>
{%endblock core%}