web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor/*
!vendor/propel
/nbproject/private/
!/vendor/autoload.php
/src/DTA/MetadataBundle/Model/om/
/src/DTA/MetadataBundle/Model/map/
!/composer.phar