# Bootstrap
app/bootstrap*

# Symfony directories
/vendor
*/logs
*/cache
web/uploads/
web/bundles/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# !/composer.phar
/src/DTA/MetadataBundle/Model/*/om/
/src/DTA/MetadataBundle/Model/*/map/
app/propel

# IDE
nbproject
.idea


/temp/*.sql

bin
/composer.lock
/app/propel/sql
