# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

web/bundles/
build/
!vendor/propel
/nbproject/private/
!/vendor/autoload.php
/src/DTA/MetadataBundle/Model/om/
/src/DTA/MetadataBundle/Model/map/
!/composer.phar
/src/DTA/MetadataBundle/Model/Master/om/
/src/DTA/MetadataBundle/Model/Master/map/
/src/DTA/MetadataBundle/Model/Classification/om/
/src/DTA/MetadataBundle/Model/Classification/map/
/src/DTA/MetadataBundle/Model/Data/om/
/src/DTA/MetadataBundle/Model/Data/map/
/src/DTA/MetadataBundle/Model/Workflow/om/
/src/DTA/MetadataBundle/Model/Workflow/map/