/* 
    Document   : genericHtml
    Created on : 04.12.2012, 15:17:30
    Author     : Carl Witt
    Description:
        Styles generic html elements, independently of context.
*/

html{
    overflow-y: scroll;
}

nav.navbar.navbar-default{
    border-radius: 0;
}
/* menu */

a.dropdownMenuCreateEntityButton {
    display: inline-block;
    position: absolute;
    right: 0;
    background: white;
    width: 10px;
}
a.dropdownMenuCreateEntityButton:hover {
    background: #ddd;
}

/* forms */

textarea{
    /*width: 500px;*/
}

.form-horizontal .control-group {
    /*margin-bottom: 10px !important;*/
}

/*input{
    width: auto !important;
    float: left;
}*/

input.medium-text{
    width: 375px;
}

.controls.labelled > ol, .controls.labelled > ul{
    padding-top: 5px;  
}

/* copied from bootstrap input highlighting */
li.sortableDragPlaceholder{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}


.form-horizontal .controls{
    margin-left: 170px !important;
    border-left: 1px solid gray;
    padding-left: 7px;
} 


.form-horizontal .control-label{
    /* Without absolute positioning, control labels with more than one line for some reason 
        increase the height of the neighboring controls div. This leads to an uneven spacing of the li elements. */
    /*
        not increasing the height of the neighboring controls leads to overlapping labels for long label texts and narrow control divs.
    position: absolute;*/
    
}

.form-inline * {
    /*margin-right: 7px;*/
}

/*Bootstrap fieldsets are like headings with a <hr>, I want real borders*/
fieldset{
    padding: 10px 20px 20px;
    margin: inherit;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

fieldset p {
    padding-bottom: 0;
    margin-bottom: 0;
}

fieldset legend{
    display: inline;
    width: auto;
    padding: 0 2px 0px 2px;
    /*margin-bottom: inherit;*/
    font-size: 21px;
    /*line-height: inherit;*/
    /*color: #333333;*/
    border: 0;
    margin-bottom: 0;
}

.arrow-icon{
    width: 11px;
    vertical-align: baseline;
}