/* 
    Document   : genericHtml
    Created on : 04.12.2012, 15:17:30
    Author     : stud
    Description:
        Styles generic html elements, independently of context.
*/

body {
    padding-top: 100px;
    padding-bottom: 40px;
}

/* forms */

textarea{
    /*width: 500px;*/
}

/* for inline forms, where a text input is nearby, which is relatively tall */
.label-inline-centered{
    float:left; 
    margin: 9px 7px 0 0;
}

form div > input.checkbox-inline-centered{
    margin-top: 14px;
}

