<h3>{{className|trans}} {{ headerSuffix }} </h3>

{# don't display a parent selector for the root of the tree #}
{% if form.vars.data.isRoot %}
    {% for childName, child in form.children if childName != 'parent' %}
        {{ form_row(child) }}
    {% endfor %}
{% else %}
    {{ form_row(form, {'inlineLabel':true, 'hideLabel':true}) }}
{% endif %}