{% extends 'DTAMetadataBundle::base.html.twig' %}

{% block title %}Administration{% endblock %}


{% block core %}
    
{% for type in strayTypes %}    
    
    {% if attribute(strayClasses, type)|length > 0 %}
        <h2> Stray {{ type }} </h2>

        {% for stray in attribute(strayClasses, type) %}    
            {{ stray }}
        {% endfor %}
    {% endif %}
{% endfor %}

            
<h2> Basic Entities</h2>            
    <table class="table table-striped table-hover"> 
        <thead>            
        {% for col in columns %}    
            <th> {{ col }} </th>
        {% endfor %}
        </thead>
        <tbody>
           
        {% for datum in entries %}
            <tr>
            {% for col in columns %}
                <td>
                    {{ attribute(datum, col) }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

