{% extends 'DTAMetadataBundle:DataDomain:DataDomain.html.twig' %}

{% block core %}
In diesem Bereich werden Daten verwaltet, die sich auf die historische Realität beziehen.

{{dump(person)}}
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls form-inline">
            <input type="text" id="inputEmail" placeholder="Email">
            <label class="" for="inputPassword">Pass</label>
            <input type="password" id="inputPassword" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox"> Remember me
            </label>
        </div>
    </div>
    <button type="submit" class="btn">Sign in</button>

</form>
{% endblock %}

