{% extends 'DTAMetadataBundle:'~ domainKey ~':index.html.twig' %}

{% block title %} Wirklich löschen? {% endblock %}

{% block core %}

    <form action="{{ path('deleteRecord',{'domainKey':domainKey, 'className':className, 'recordId': recordId}) }}" method="POST">
        <label class="checkbox">
            <input type="checkbox" name="reallyDelete" checked="checked">
            Really delete record {{ recordId }}
        </label>
        <input type="submit" value="Endgültig löschen">
    </form>
    
{% endblock %}