/* 
    Document   : genericHtml
    Created on : 04.12.2012, 15:17:30
    Author     : stud
    Description:
        Styles the collection form types.
*/

.collection-editor{
    /*list-style-type: none;*/
}