/* 
    Document   : dynamicGUI
    Created on : 13.02.2013, 11:06:07
    Author     : carlwitt
    Description:
        Styles all elements that have been dynamically created via javascript.
        This includes custom widgets as defined in dtaFormExtensions.html.twig (selectOrAdd, sortableCollection form type)
*/

.selectOrAdd.add.btn{
/*    position: relative; 
    margin-left: 10px;*/
}
.collection-editor ol{
    list-style-type: decimal;
}

.sortable-up{
    position: absolute;
    top: 24px;
    left: -23px;
}

.sortable-down{
    position: absolute;
    top: 39px;
    left: -14px;
}
