/* 
    Document   : dynamicGUI
    Created on : 13.02.2013, 11:06:07
    Author     : carlwitt
    Description:
        Styles all elements that have been dynamically created via javascript.
        This includes custom widgets as defined in dtaFormExtensions.html.twig (selectOrAdd, sortableCollection form type)
*/

.selectOrAdd.add.btn{
    position: relative; 
    top: -6px; 
    margin-left: 10px;
}

/* TODO. view. The bootstrap modal appears not centered the first time called.
This is due to a miscalculted margin-top which is 0 in the beginning and is then set to half the height of the modal, when closed.

*/