{# 

    Renders a form for creating any database entity, 
    but for use as ajax requested form (marked up as a twitter/bootstrap modal).

    className, captionProperty and domainKey are passed by the calling controller:
    DTABaseController->generateAjaxModalFormAction. The controller itself just passes these values on,
    as drawn from the URL parameters, e.g.
    .../genericNew/ajax/Namefragmenttype/Name results in 
    domainKey = ajax, className = Namefragmenttype, captionProperty = Name

 #}

    {# twitter/bootstrap modal elements #}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>{{ className|trans }}</h3>
    </div>
    <div class="modal-body">

        {# Dummy script tag currently inserted to workaround a bug in the modal forms.
            In chrome, the first form is erroneously deleted. In firefox, it's not. #}
        <script></script>
        
        {% set submitURL = path('genericNew', { 'className':className, 
                                                'captionProperty': captionProperty, 
                                                'domainKey': domainKey|default("ajax")}) %}
        <form action="{{ submitURL }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            {% include 'DTAMetadataBundle:Form:autoform.html.twig' %}
        </form>

        {#<button class="btn" data-toggle="modal" href="#stack2">Launch modal</button>#}
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Schließen</button>
        <button type="button" class="btn btn-primary" 
                {# pass the modal to the submitFormData function #}
                onclick="selectOrAdd_submitFormData($(this).parent().parent())">Neu anlegen</button>
    </div>
