{#  
    The dynamic extend is for extending the template of the currently active domain,
    which is basically for embedding the correct domain menu 
    (tasks, reporting, ... for workflow, publications, persons, ... for data, etc).
    The domainKey value is automatically passed by the renderWithDomainMenu method
    of the DTABaseController, which 
    The referenced index.html.twig files are located in 
        src/DTA/MetadataBundle/Resources/views/<domainKey>/index.html.twig

    The reason why this is an extra template is that the autoform template can render
    a bare form, which makes it reusable for ajax form requests.
    For static form requests the bare form is always wrapped with a domain menu, 
    the page footer, etc. via this template.

#}
{% extends 'DTAMetadataBundle:'~ domainKey ~':index.html.twig' %}

{% block core %}

    {# Determine where to post the form data (create or update the data) #}
    {% if action|default("new") == "new" %}
        {% set actionTarget = path('genericNew', {'className':className, 'domainKey': domainKey|default("none")}) %}
        {# renders "<className> anlegen" as headline of the form #}
        {% set headerSuffix = "form.create.suffix"|trans %}
    {% endif %}
    {% if action|default("") == "edit" %}
        {# renders "<className> bearbeiten" as headline of the form #}
        {% set actionTarget = path('viewRecord', {'domainKey': domainKey, 'className':className, 'recordId':recordId}) %}
        {% set headerSuffix = "form.edit.suffix"|trans %}
    {% endif %}


        <form action="{{ actionTarget }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            
            {% include 'DTAMetadataBundle:Form:autoform.html.twig' %}
            
        <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Senden"/>
                </div>
            </div>
        </form>

{% endblock core %}