{#  
    The dynamic extend is for extending the template of the currently active domain,
    which is basically for embedding the correct domain menu 
    (tasks, reporting, ... for workflow, publications, persons, ... for data, etc).
    The domainKey value is automatically passed by the renderWithDomainMenu method
    of the DTABaseController, which 
    The referenced index.html.twig files are located in 
        src/DTA/MetadataBundle/Resources/views/<domainKey>/index.html.twig

    The reason why this is an extra template is that the autoform template can render
    a bare form, which makes it reusable for ajax form requests.
    For static form requests the bare form is always wrapped with a domain menu, 
    the page footer, etc. via this template.

#}
{% extends 'DTAMetadataBundle:'~ domainKey ~':index.html.twig' %}

{% block core %}
    
    {# renders "<className> anlegen" as headline of the form #}
    <h3> {{className|trans}} {{ "form.create.suffix"|trans }} </h3>

    {# where to post the form data #}
    {% set actionTarget = path('genericNew', {'className':className, 'domainKey': domainKey|default("none")}) %}
    <form action="{{ actionTarget }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            
        {% include 'DTAMetadataBundle:Form:autoform.html.twig' %}
        
        {# the dynamic collection adds default fragments if the form is for creation
            of a new entity. (action='new') #}
        <script type="text/javascript">
            var formInfo = {'action': 'new'};
        </script>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Senden"/>
            </div>
        </div>
    </form>

{% endblock core %}