{% extends 'DTAMetadataBundle:Layout:base.html.twig' %}

{% block title %}Dump Conversion results{% endblock %}

{% block mainMenu %}{% endblock %}
{% block currentDomainMenu %}{% endblock %}

{% block core %}

<h1> Errors </h1>

{{dump(errors|default({}))}}


<h1> Warnings </h1>

{{dump(warnings|default({}))}}

<h1> Messages </h1>

{{dump(messages|default({}))}}

{% endblock %}
